html {
  box-sizing: border-box;
  font-size: 10px;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
  box-sizing: border-box;
  font-family: 'Dana' !important;
}

body {
  direction: rtl;
  height: 100vh;
  overflow-x: hidden;
  background-color: #1d1f20;
  color: #e5e7eb;
}

.container {
  display: flex;
  flex-direction: column;
}

header {
  height: 5rem;
  background: #52525b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.7rem;
}

header a {
  color: aliceblue;
  padding-right: 50px;
}

footer {
  background: rgb(32, 43, 73);
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
  color: aliceblue;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 50px 4rem;
}

.main {
  width: calc(70% - 20px);
}

.sidebar {
  width: calc(30% - 20px);
}


main {
  padding: 0 20px;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
}

.filter .sort-title {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sort-title svg {
  font-size: 3rem;
  margin-right: 1rem;
}

.filter select {
  padding: 5px;
  border: 1px solid rgb(187, 187, 187);
  width: 200px;
  font-family: 'vazir';
  margin-right: 10px;
}

.filter .form-checkbox {
  display: flex;
}

.filter .form-checkbox .form-group {
  margin: 0 5px;
}

.filter .form-checkbox input {
  margin-left: 5px;
}

.products {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  flex-wrap: wrap;
}

.products li {
  width: calc(33.33% - 10px);
  padding: 20px;
  box-shadow: 0 0 10px rgba(139, 139, 139, 0.3);
  margin-top: 30px;
  background: #fff;
  text-align: center;
  border-radius: 1rem;
  cursor: pointer;

}

.products li:hover img {
  transform: scale(1.1);
}

.products li img {
  transition: all 400ms ease;
  width: 100%;
  height: 300px;
  object-fit: contain;
}

.products li p {
  color: #333;
  border-bottom: 1px solid rgb(221, 221, 221);
  text-align: right;
  padding-bottom: 20px;
  font-size: 1.8rem;
}

.products li .product-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.products li .product-price button {
  background: #38bdf8;
  padding: 5px 10px;
  font-family: 'vazir';
  border: none;
  cursor: pointer;
  color: aliceblue;
  border-radius: .5rem;
}

.products li .product-price .price {
  color: #1e40af;
  font-size: 1.8rem;
}


.empty-price {
  color: #dc2626;
  font-size: 1.8rem;
  background-color: #fee2e2;
  padding: 1rem 0;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}

.empty-price svg,
.show-price svg {
  font-size: 2rem;
}

.show-price {
  color: #15803d;
  font-size: 1.8rem;
  background-color: #86efac;
  padding: 1rem 0;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}

.cart-item {
  margin-top: 30px;
}

.product-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(207, 207, 207);
  padding: 15px 0;
}

.product-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: .5rem;
}

.product-detail {
  display: flex;
}

.product-detail h2 {
  margin-right: 10px;
  font-size: 1.4rem;
}

.product-price {
  font-size: 1.6;
  font-weight: 600px;
}

.product-price .price {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.price span {
  font-size: 1.7rem;
}

.qty {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #38bdf8;
  font-size: 1.7rem;
  color: #1e40af;
  font-weight: bold;
  margin-left: 1rem;
}

.remove-item {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #dc2626;
}

.remove-item svg {
  font-size: 2rem;
  color: #fee2e2;
}

.total-price {
  padding: 1rem 0;
  border-radius: .5rem;
  background: #a5f3fc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  color: #1e40af;
}